* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

    font-family: 'Comfortaa', cursive;
    background-color: #E7E7E7;
}
@font-face {
    font-family: face Comfortaa;
    src: url(fonts/Comfortaa-Bold.ttf);
}
#btnmode{
    background-color: rgba(0, 0, 128, 0);
    outline: none;
    border: none;
}

.barra{
    position: sticky;
    top: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F4F4;
    padding: 5px 10px;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.25),-5px -5px 15px 3px rgba(51, 50, 51, 0.22);
}
.menu{
    width: 50%;
    display: flex;
    flex-flow: row;
}
.menu ul{
    width: 100%;
}
#icon{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
#icon ul{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: inherit;
    justify-content: space-around;
    align-items: center;
}
#icon ul li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
#icon ul li{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon ul li:hover{
    background-color: #e7e0e0;
}
#icon img{
    width: 1px;
    height: auto;
}
.mode img{
    width: 100px;
    height: auto;
    padding: 0px;
}
.titulo-logo{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 15px 0px;
    color: #E0CAE3;
}
.titulo-logo img{
    width: 400px;
}
.portada{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-image:url("img/port.jpg") ;
    background-color: #62a4a7;
    /*background: radial-gradient(79.67% 166.28% at 97.22% 2.75%, #76F5FD 0%, #DAAAFF 26.42%, #B650C7 62.31%, #8B33A9 84.37%, #6B3099 100%); */   
    width: auto;
    height: 625px;
}
.descripcion{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 20px;
    height: 60%;
    width: 50%;
}
.descripcion h2{
    color: #BDBDBD;
    font-size: 40px;
    font-weight: bold;
}
.descripcion h3{
    color: #FFFFFF;
    margin: 15px 0px;
}
.boton1{
    margin-top: 15px;
    width: 250px;
	background-color:transparent;
	border:4px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-size:16px;
	padding:20px 63px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 30px 3px rgba(109, 104, 110, 0.25),-5px -5px 30px 3px rgba(51, 50, 51, 0.22);
}
.img-portada img{
    width: auto;
    height: 100%;
}


#tarjeta{
    height: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 320px;
    background: #7e9fb6;
    margin: 5%;
    box-shadow: 5px 5px 30px 5px rgba(109, 104, 110, 0.25),-5px -5px 30px 5px rgba(51, 50, 51, 0.22);
}
.public{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: white;
    padding: 40px;
    height: 80%;
    width: 40%;
}
.public h2{
    font-size: 30px;
    font-weight: Bold 700;
}
.public p{
    font-size: 13px;
}
.boton-public{
    padding:13px 80px;
    width: 80%;
}
.img-tarjeta img{
    width: 75%;
    height: auto;
}
.img-tarjeta:hover{
    transform: scale(1.1, 1.1);
    cursor: pointer;
    transition: 0.4s;
}

#cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.cards-list {
    z-index: 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 50%;
    height: 400px;
    cursor: pointer;
    filter: brightness(2.5);
}
.card .card_image {
    width: 100%;
    height: inherit;

}
.card .card_image img {
    
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: brightness(0.4);
    
}
.card_title h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: -250px;
    height: 40px;
    padding: 15px;
}
.card_title p{
    font-weight: lighter;
    font-size: 15px;
    padding: 25px;
}
.card:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 5px 5px 30px 10px rgba(66, 55, 68, 0.25),-5px -5px 30px 10px rgba(47, 45, 48, 0.22);
    filter: brightness(1);
    transition: 0.4s;
    
}
.card_title {
    color: rgb(179, 179, 179);
    width: 70%;
    height: 50%;
    margin: 5%;
    
}
.title-black{
    color: rgb(15, 15, 15);

}

.card_title:hover{
    transform: scale(1, 1);
    background: rgba( 19, 16, 16, 0.2 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    filter: brightness(3);
    transition: 0.2s;
}
.title-black:hover{
    color: rgb(0, 0, 0);
}

@media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
}





.item>img{
    width: 200px;
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#000000;
}
  
.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
  
.footer-dark ul a:hover {
    opacity:0.8;
}
.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: center;
    margin: 0px 5%;
}
.text{
    width: 550px;
}

  
.footer-dark .item.text {
    margin-bottom:36px;
}
  
  
.footer-dark .item .text p {
    opacity:0.6;
    margin-bottom:0;
}
  
.footer-dark .item.social {
    text-align:center;
}
  
@media (max-width:991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
    }
}
  
.footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}
  
.footer-dark .item.social > a:hover {
    opacity:0.9;
}
  
.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

@media (max-width:1024px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
    .footer-dark .item .text {
      margin-bottom:0;
    }
    .descripcion{
        display: flex;
        flex-flow: column wrap;
        padding: 20px;
        height: 60%;
        width: 100%;
    }
    .portada{
        display: flex;
        flex-flow: row;
        width: auto;
        height: 500px;
    }
    .img-portada img{
        
        width: 80%;
        height: auto;
    }
}
@media (max-width:780px) {
    
    #productos{
        display: flex;
        flex-flow: column;
        margin: 3% 5%;
    }
    .prod{
        width: 100%;
    
    }
    .descripcion{
        display: flex;
        flex-flow: column wrap;
        padding: 20px;
        height: 60%;
        width: 100%;
    }
    .portada{
        display: flex;
        flex-flow: column-reverse;
        width: auto;
        height: auto;
    }
    .img-portada{
        display: flex;
        justify-content: center;
    }
    .img-portada img{
        
        width: 80%;
        height: auto;
    }
    #tarjeta{
        display: flex;
        flex-flow: column-reverse;
        height: auto;
        width: 100%;
        margin: 5% 0%;
    }
    .public{
        display: flex;
        flex-flow: column;
        padding: 20px 5px;
        height: 80%;
        width: 90%;
    }
    .img-tarjeta{
        display: flex;
        justify-content: center;
    }
    .img-tarjeta img{
        width: 60%;
    }
    .boton1{
        margin-top: 15px;
        width: 100%;
    }
    
    .card{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    .titulo-logo img{
        width: 300px;
    }
    .barra{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    .barra nav ul{
        display: flex;
        flex-flow: column ;
    }
    #icon ul li{
        width: inherit;
        height: 100px;
        font-weight:400;
        font-size:15px;
        padding:10px;
    }
    #icon ul li:hover{
        background-color: #9e9e9e;
    }
    #icon>ul{
        display: none;
    }
    #icon:hover>ul{
        display: block;
        background-color: rgb(228, 228, 228);
        position:absolute;
        top:0px;
        left:0px;
    }
    #icon{
        width: 30%;
        height: auto;
        padding-top: 10px;
    }
    #icon img{
        width: 40px;
        height: auto;
        filter: invert(0.4);
    }
    .card_title h3 {
        font-size: 30px;
        margin-top: -400px;
        height: 40px;
        padding: 15px;
        margin-bottom: 100px;
    }
    .card_title p{
        font-weight: lighter;
        font-size: 15px;
        padding: 25px;
    }
}

body.darkmode{
    background-color: azure;
}

